
body{
    font-family: "Archivo Narrow", sans-serif;
}
.hero{
    text-align: center;
    background-color: rgba(136, 164, 201, 0.3);
    padding-top: 166px; 
    padding-bottom: 180px;
    background-image: url(../images/wup-hero.jpg);
    background-position: center;
    background-size: cover;
}
section.first{
    background-color: rgb(164, 184, 237);
    padding-bottom: 37px;
}
section.first img {
    float: right;
    padding-left: 40px;
    padding-bottom: 35px;
}
section.second{
    margin-top: -2px;
    padding-bottom: 54px;
    background-color: white;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    row-gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0px;
}
.grid li {
    display: flex;
    align-items: flex-start;
}
.grid-text{
    max-width: 225px;
}
.grid-text h4, .grid-text p {
    margin: 0;
}
.grid-text h4{
    font-size: 20px;
    margin-bottom: 7px;
}
.grid img {
    max-width: 100%;
    display: block;
    padding-right: 12px;
}
section.third{
    margin-top: 0px;
    background-color: rgb(99, 145, 209);
    padding-bottom: 150px;
}
section.footer{
    padding-top: 40px;
    background-color: rgb(70, 98, 255);
    padding-bottom: 150px;
}
section > div{
    margin: auto;
    width: 960px;
}
section.third > div {
    max-width: 720px;
    margin: auto;
}
.archivo-narrow{
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1{
    margin: 0;
    font-size: 80px;
    line-height: 1;
    color: white;
}
h2{
    margin: 0;
    font-size: 30px;
    margin-top: 11px;
    color: white;
}
h3{
    margin: 0;
    padding-top: 43px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 32px;
}
p{
    margin-top: 0px;
    font-size: 18px;
    line-height: 25px;
}
h5{
    font-size: 26px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    line-height: 36px;
}
.copyright{
    color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 24px; /* 30px row gap, 24px column gap */
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid li {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.grid img {
  width: 150px;
  height: auto;
  margin-right: 12px;
  flex-shrink: 0;
}

.grid-text h4 {
  font-size: 20px;
  margin: 0 0 6px 0;
}

.grid-text p {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
}
.hero {
  background-image: url("../images/wup-13.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: white;
  box-sizing: border-box;
}

section.first {
  background-color: rgb(164, 184, 237);
  padding: 3rem 0;
}

.section-inner {
  width: 960px;
  margin: auto;
  padding: 0 1rem;
}

section.first h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 2rem;
}

section.first img {
  float: right;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 20px;
}

section.first p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
section.third {
  background-color: rgb(99, 145, 209);
  padding: 3rem 0 7rem;
  text-align: center;
}

.section-inner.narrow {
  max-width: 720px;
  margin: auto;
  padding: 0 1rem;
}

section.third h3 {
  font-size: 40px;
  margin-bottom: 2rem;
}

section.third h5 {
  font-size: 26px;
  font-weight: normal;
  line-height: 1.6;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}
.footer {
  background-color: rgb(70, 98, 255);
  padding: 2rem 0 6rem;
}

.footer .section-inner {
  width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer p {
  color: white;
  font-size: 16px;
  margin: 0;
  text-align: left;
}
section.first {
  background-color: rgb(164, 184, 237);
  padding: 3rem 0;
}

.float-image {
  float: right;
  width: 300px;
  margin-left: 40px;
  margin-bottom: 20px;
}

section.first p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
